<%provide(:title,@user.name) %>
<div id="profile" class="container">
  <div class="row">
    <div class="col-md-3 text-center text-md-left">
      <%= gravatar_for(@user, size: 200)%>
      <h4 class="user-name"><strong><%= @user.name%></strong></h4>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
      <section class="thought_form">
        <%= render 'shared/thought_form' %>
      </section>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= render 'follow_form' if logged_in? %>
      <hr class="d-md-none">
      <h3 class="text-md-left text-center">Thoughts!</h3>
      <ol class="thoughts">
        <%= render @thoughts %>
      </ol>
      <%= will_paginate @thoughts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
