<li class="thought" id="thought-<%=thought.id%>">
  <div class="row">
    <div class="col-2">
      <span class="thought-gravatar"><%= gravatar_for thought.user,size: 80 %></span>
    </div>
    <div class="col-10 d-flex flex-column justify-content-center">
      <span><strong><%= link_to thought.user.name, user_path(thought.user) %></strong></span>
      <span class="thought-content"><%= thought.content %></span>
      <% if thought.picture? %>
        <span class="thought-picture"><%= image_tag thought.picture.url, class: "img-fluid"%></span>
      <% end %>
      <span class="thought-time-ago ">Thougt it <%= time_ago_in_words(thought.created_at) %> ago</span>
      <div class="thought-actions container-fluid">
        <div class="row">
          <div class="col-4 col-md-2 thought-reply">
            <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
          </div>
          <div class="col-4 col-md-2 thought-like">
            <% if current_user.likings.include?(thought) %>
              <%= link_to like_path(id: thought.id), method: :delete do %>
                <i class= "fa fa-thumbs-up"></i> Unlike
              <%end%>
            <% else %>
              <%= link_to likes_path(thought_id: thought.id), method: :post do %>
                <i class= "fa fa-thumbs-o-up"></i> Like
              <%end%>
            <% end %>
            <% unless thought.likes.count == 0 %>
              <span id="like-count" class="badge badge-success"><%= thought.likes.count %></span>
            <% end %>
          </div>
          <% if current_user?(thought.user) || current_user.admin? %>
          <div class="col-4 col-md-2 thought-like">
            <%= link_to thought, method: :delete,data: {confirm: "Are you sure to delete this thought?"} do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
  </div>
  </div>
</li>
